<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nemo.sj.system.mapper.SysRoleAclMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nemo.sj.system.entity.SysRoleAcl">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="acl_id" property="aclId" />
        <result column="operator" property="operator" />
        <result column="operate_time" property="operateTime" />
        <result column="operate_ip" property="operateIp" />
    </resultMap>

</mapper>
